<div id="welcome">
    <h1>Draw App</h1>
    <h2>A very simple drawing application. You can create drawing boards, share them with your friends and paint in real-time. </h2>
</div>

<div id="home">
    <section id="boards">
        <h3>Latest Drawings</h3>
        <md-grid-list cols="3" rowHeight="2:1">
            <md-grid-tile rowspan="1" class="item" *ngFor="let board of boards">
                <div class="title"><a routerLink="/board/{{board._id}}">{{board.title}}</a></div>
                <div class="subtitle">by {{board.creatorUsername}}</div>
            </md-grid-tile>
        </md-grid-list>
    </section>

    <section id="users">
        <h3>Latest Users</h3>

        <md-grid-list cols="3" rowHeight="2:1">
            <md-grid-tile rowspan="1" class="item" *ngFor="let user of users">
                <div class="title"><a routerLink="/user/{{user.username}}">{{user.username}}</a></div>
            </md-grid-tile>
        </md-grid-list>

    </section>
</div>