#welcome {
  padding: 30px 0;
  margin: 0 40px 30px 40px;
  border-bottom: 1px solid #eee;
}

h1 {
}

h2 {
  font-weight: lighter;
  color: #999;
}

h3 {
  font-size: 21px;
  color: #000;
}

h4 {
  font-weight: lighter;
  color: #999;
}

#home section {
  display: block;
  margin: 0 40px 30px 40px;
  vertical-align: top;
}

#home section .item .title {
  display: block;
  margin-right: 10px;
  clear: both;
  font-size: 21px;
}

#home section .item .subtitle {
  display: block;
  clear: both;
}

#boards {
  border-bottom: 1px solid #eee;
}

#users {
}