@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: #3080ff;
  text-decoration: none;
}

a:hover {
  color: #1960d0;
  text-decoration: underline;
}

body {
  font-family: 'Lato' ,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

fieldset {
  border: none;
}

fieldset label {
  display: inline-block;
  clear: both;
}

fieldset input {
  display: block;
  clear: both;
}

input[type="text"],
input[type="password"],
textarea {
  padding: 6px 10px;
  font-size: 14px;
}
/*
button,
.button,
input[type="submit"] {
  padding: 6px 10px;
  color: #999;
  background: #eee;
  border: 1px solid #999;
  border: 1px solid ccc;
}

*/

.error {
  padding: 8px 15px;
  margin-bottom: 20px;
  color: red;
  background: #fff2f2;
  border-radius: 5px;
}

#account-dropdown-button button {
  width: 100% !important;
  max-width: 100% !important;
}

.ng2-menu-item {
  font-family: 'Lato' !important;
  font-size: 16px !important;
}

#form {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 640px;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
  background-color: white;
}

#form h2 {
  margin-bottom: 30px;
}

#form .mat-input-container {
  display: flex !important;
}
